/Compile/composer.lock
/UCFoWD2019.iml
/.idea/
/Compile/Credential.php
/Compile/vendor/
/expert/yarn.lock
/expert/node_modules/
/Compile/Credential.sh
/Compile/node_modules/
/Compile/yarn.lock
/Common/
/**/*.css