extends tpl/template-yoga
block vars
    - var title_header=title="Path of Light Yoga Studio"
    - var sub="Yoga Schedule"
    - var LabNo=4
block content
    p Mats, blocks, and blankets provided. Please arrive 10 minutes before your class begins.
        | Relax in our Serenity Lounge before or after your class.
    h3 Monday—Friday
    ul
        li 9:00am Gentle Hatha Yoga
        li 10:30am Vinyasa Yoga
        li 5:30pm Restorative Yoga
        li 7:00pm Gentle Hatha Yoga
    h3 Saturday & Sunday
    ul
        li 10:30am Gentle Hatha Yoga
        li Noon Vinyasa Yoga
        li 1:30pm Gentle Hatha Yoga
        li 3:00pm Vinyasa Yoga
        li 5:30 pm Restorative