extends tpl/template-yoga
block vars
    - var title_header=title="Path of Light Yoga Studio"
    - var sub="Yoga Classes"
block content
    dl
        dt
            b Gentle Hatha Yoga
        dd Intended for beginners and anyone wishing a grounded foundation in the practice of yoga, this 60 minute class of
            | poses and slow movement focuses on asana (proper alignment and posture), pranayama (breath work), and guided
            | meditation to foster your mind and body connection.
        dt
            b Vinyasa Yoga
        dd Although designed for intermediate to advanced students, beginners are welcome to sample this 60 minutes class
            | that focuses on breath-synchronized movement&mdash; you will inhale and exhale as you flow energetically through
            | yoga poses.
        dt
            b Restorative Yoga
        dd This 90 minutes class features very slow movement and long poses that are supported by a chair or wall. This
            | calming, restorative experience is suitable for students of any level of experience. This practice can be a
            | perfect way to help rehabilitate an injury.