body {
    background-color: #F5F5F5;
    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;
}

header {
    font-weight: bold;
    background-color: #9BC1C2;
    background-image: url("../Common/lilyheader.jpg");
    background-repeat: no-repeat;
    background-position: right;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
}

h1 {
    line-height: 400%;
    text-indent: 1em;
}

footer {
    font-size: small;
    text-align: center;
    font-style: italic;
    background-color: #9BC1C2;
}

li {
    font-size: 90%;
}

.align-right {
    float: right;
}

.align-right::after {
    clear: both;
}